<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel  = "stylesheet" href="main.css"/>
        <title>Admin Panel</title>
    </head>
    <body>
        <h1 class="adminHeading">Admin Page</h1>
        <div id="main">
            <form class="adminForm" method="post" action="/admin" enctype="multipart/form-data">
                <input type="text" name="product" placeholder="Product name" required/>
                <textarea name="description" placeholder="Description" required></textarea>
                <input type="number" name = "price" placeholder="Price" required />
                <input type="file" name="productImg" required/>
                <input type="submit" id="btn" />
            </form>
        </div>
    </body>
</html>