<header>
    <div class="links">
        <div class="webLogo">
            <a href="/"><img src="https://www.freepnglogos.com/uploads/flipkart-logo-png/flipkart-com-logo-internet-ltd-state-of-kerala-10.png" width="200" alt="Flipkart logo" /></a>
        </div>
        <div class="webLinks">
            <%if(page === "Cart"){%>
                <a class="profile" href="/">Home</a>
            <%}else{%> 
                <a class="logout" href="/logout">Logout</a>
                <a class="login" href="/login">Login</a>
                <a class="signup" href="/signUp">SignUp</a>
                <%if(page === "Home"){%>
                    <%if(login === true){%> 
                        <a class="profile" href="/myAccount"><%=name%> </a>
                    <%}else{%>
                        <a class="profile" href="/myAccount">My Profile</a>
                    <%}%>  
                <%}%>     
                <%if(page === ""){%>
                    <%if(login === true){%> 
                        <a class="profile" href="/myAccount"><%=name%> </a>
                    <%}else{%>
                        <a class="profile" href="/myAccount">My Profile</a>
                    <%}%>  
                <%}%>     
                <a class="Cart" href="/myCart">My Cart</a>
            <%}%>
        </div>
    </div>
</header>
