<div class="loginSection authSection">
    <div class="heading">
        <h1>Welcomee to the <%= openPage %> Page</h1>
    </div>
    <div class="form">
        <form method="POST" action = "/login">
        <div class="emailSection">
            <input class="emailField" type="email" name = "username" placeholder="Email" required/>
        </div>
        <div class="passwdSection">
            <input type="password" class="passwdField" name = "password" minlength = "8" placeholder="Password" required/>
        </div>
        <input class="submitBtn" type="submit" name = "submit" value="Submit"/>
        </form>
        <a href="/signUp">SignUp here</a>
    </div>
</div>