<div class="authSection">
    <div class="heading">
        <h1>Welcome to the <%= openPage %> Page</h1>
    </div>
    <div class="form">
        <form method="POST" action = "/signUp">
        <input type="text" class="textField" name="name" placeholder="FullName"/>
        <input type="email" class="emailField" name = "username" placeholder="Email" required/>
        <input type="password" class="passwdField" name = "password" minlength = "8" placeholder="Password" required/>
        <input class="submitBtn" type="submit" value="Submit"/>
        </form>
        <a href="/login">Login here</a>
    </div>
</div>